
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
  .font-serif {
    font-family: 'Playfair+Display', serif;
  }
}

html {
  scroll-behavior: smooth;
}
